<h1>Products</h1>

<p><%= link_to "Add New Product", new_product_path %></p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
  </tr>
  <% @products.each do |p| %>
  <tr>
    <td><%= link_to p.name, product_path(p) %></td>
    <td><%= p.description %></td>
    <td><%= p.quantity %></td>
  </tr>
  <% end %>
</table>

